.main_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: var(--maincolor01);
    
    .header {
        padding: 55px 30px 15px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 42vh;

        img {
            width: 40px;
        }

        button {
            margin-top: 10px;
            height: 130px;
            width: 100%;
            border-radius: 10px;
            background-color: var(--white);
            box-shadow: 0px 3px 0px 0px #00000072;
        }

        a {
            margin-top: 10px;
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 60px;
            background-color: var(--white);
            justify-content: center;
            padding-top: 8px;
            padding-bottom: 3px;
            box-shadow: 0px 3px 0px 0px #00000072;

            img {
                margin-bottom: 6px;
                width: 25px;
                margin-right: 2px;
            }


        }
    }

    .main {
        background-color: var(--white);
        width: 100%;
        height: 65vh;
        border-radius: 50px 50px 0 0;
        padding: 20px;

        .button {
            display: flex;
            justify-content: center;
            
            button {
                background-color: var(--maincolor01);
                height: 35px;
                padding-top: 5px;
                width: 150px;
                border-radius: 55px;
                margin: 0px 5px;
                font-size: 14px;
                font-weight: 700;
                color: var(--white);
            }
        }

        .propose {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;

            .propose_header {
                display: flex;
                align-items: center;
                width: 100%;

                h2 {
                    font-size: 22px;
                    font-weight: 900;
                }

                a {
                    margin-left: 10px;
                }
            }

            .video {
                margin-top: 10px;
                width: 200px;
                background-color: #f2f7fe;

                .imgbox {
                    width: 100%;
                    height: 120px;
                    background-color: #bad0ef;
                }

                >div {
                    padding: 10px;

                    .cate {
                        font-size: 12px;
                    }
    
                    .title {
                        margin-top: 2px;
                        font-weight: 900;
                    }

                }

            }
        }
    }
}